@charset "utf-8";

html,
body,
div,
img,
p,
a {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
#more {
    margin-bottom: 1.34rem;
}
body {
    background: rgba(228, 228, 228, .35);
    font-size: .16rem;
    font-family: Arial;
    position: relative;
    height: 100%;
}
.comment {
    padding-left: .2rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    border-bottom: .01rem solid #ccc;
}
.comment:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
.comment img{
    float: left;
    margin-right: .25rem;
    border-radius: .45rem;
    width: .9rem;
    height: .9rem;
}
.comment .content {
    float: left;
}
.content .user_name {
    font-size: .35rem;
    font-family: Arial;
    font-weight: normal;
    color: #333;
}
.content .time {
    margin-top: .12rem;
    margin-bottom: .2rem;
    font-size: .16rem;
    font-family: Arial;
    font-weight: normal;
    color:#999;
}
.content .msg {
    font-size: .16rem;
    font-family: Arial;
    font-weight: normal;
    color: #000;
}
.more {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 9999;
    background: #f6f6f6;
}
.more img {
    width: 1rem;
    margin-left: 3.25rem;
    margin-bottom: .3rem;
}